name: VersionBump

on:
  push
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Update version
        run: |
          git config --global user.email github-actions@github.com
          git config --global user.name github-actions
          json=`curl -s https://api.anaconda.org/package/ome/bioformats2raw`
          version=`echo $json | python -c "import sys, json; print(json.load(sys.stdin)['latest_version'])"`
          sed -i '/bioformats2raw=/d' env.yaml
          echo "  - bioformats2raw==$version" >> env.yaml
      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v6
          